 body {
     overflow-x: hidden;
 }

 p {
     color: #474747;
     font-size: 16px;
     font-weight: 400;
 }

 .navbar {
     background-color: #FFFAF5;
 }

 .btn-primary {
     background-color: #F8943F;
     border-color: #F8943F;
 }

 .btn-primary:hover {
     background-color: #F8943F;
     border-color: #F8943F;
 }

 /*frame start*/
 .frame {
     background-color: #FFF9F4;
 }

 .frame p {
     font-size: 16px;
     width: 68%;
     color: #474747;
 }

 .frame h2 {
     font-size: 25px;
     font-weight: bold;
     line-height: 130%;
 }

 .frame img {
     width: 1300px;
     height: 500px;
 }

 /*form start*/
 .form-control {
     display: block;
     width: 80%;
 }

 .input-group {
     width: 80%;
 }

 .form-check-label {
     font-size: 14px;
     width: 75%;
 }

 .frame .btn-primary {
     width: 445px;
     height: 38px;
 }


 /*form end*/
 .frame .icon img {
     width: 34px;
     height: 38px;
 }

 .marquee-row {
     display: flex;
     align-items: center;
     gap: 60px;
 }

 .item {
     display: flex;
     align-items: center;
 }

 .item img {
     width: 30px;
 }

 .item p {
     margin: 0;
     margin-left: 8px;
     font-weight: 700;
 }

 .count {
     color: #F58420;
     font-weight: bold;
 }

 .text {
     color: #000000;
 }

 /*frame end*/
 /*treatment start*/
 .section-padding {
     padding: 60px 0;
 }

 .card {
     border: 1px solid #FFE0C4;
     border-radius: 20px;
 }

 .card img {
     border-radius: 20px 0 0 20px;
     width: 320px;
     height: 342px;
     object-fit: cover;
 }

 .card p {
     font-size: 16px;
 }

 .price-tittle {
     color: #F58420;
 }

 .card-body a {
     text-decoration: none;
 }

 .treatment a {
     text-decoration: none;
 }

 /*treatment end*/
 /*why choose start*/
 .accordion-item-custom {
     border: none;
 }

 .accordion-button:focus {
     box-shadow: none;
     border: none;
 }

 .accordion-button::after {
     display: none;
 }

 .accordion-button:not(.collapsed) {
     background-color: none;
 }

 .accordion-item {
     margin-bottom: 10px;
 }

 /*why choose end*/
 .video-img {
     width: 224px;
     height: 350px;
     object-fit: cover;
     border-radius: 10px;
 }

 /*appointment start*/
 .appointment {
     background-color: #FFF9F4;
     padding: 20px 10px;
 }

 .appointment .form-control,
 .input-group {
     width: 416px;
 }

 .appointment .form-check-label {
     font-size: 12px;
 }

 .appointment .btn-primary {
     width: 306px;
 }

 /*appointment end*/
 /*safety start*/
 .img-box {
     position: relative;
 }

 .img-content {
     position: absolute;
     bottom: 10px;
     left: 10px;
     color: #fff;
     background-color: #112230;
     padding: 20px;
     border-radius: 10px;
 }

 .img-content {
     position: absolute;
     top: 50%;
     left: 50%;
     transform: translate(-50%, -50%);
     text-align: center;
     color: #fff;
 }

 .line {
     width: 181px;
     height: 10px;
     border: 10px;
     color: #EA7D28;
 }

 .img-content h5 {
     display: flex;
     align-items: center;
     gap: 10px;
 }

 .img-content h5::after {
     content: "";
     flex-shrink: 0;
     margin-left: 10px;
     width: 170px;
     height: 10px;
     background-color: orange;
     border-radius: 10px;
 }

 .img-content p {
     font-size: 14px;
     color: #FFFFFF;
 }

 /*safety end*/
 /*google-review start*/
 .google-review {
     background-color: #FFF9F5;
     width: 1440px;
     height: 338px;

 }

 .google-review .header {
     padding: 20px 0;
 }

 .custom-star {
     font-size: 29px;
     color: gold;
     border-right: 1px solid#FFE7D2;
     padding: 0 10px;
 }

 .col-4 .d-flex {
     display: flex;
     align-items: center;
     gap: 5px;
 }

 .rating {
     color: #EA7D28;
 }

 /*google review start*/
 .google-review .main-img {
     border-right: 2px solid #FFDDC1;
     padding-right: 50px;
     display: inline-block;
     height: 142px;
 }

 .google-review p {
     font-size: 16px;
     font-weight: bold;
 }

 .google-review .quats {
     background-color: white;
     padding: 20px;
     border-radius: 10px;
 }

 .google-review .quats img {
     width: 51px;
     height: 51px;
     border-radius: 50px;
     display: block;
     margin: 0 auto;
 }

 .google-review .quats i {
     color: gold;
     padding: 0 0 0 10px;
 }

 .quats p {
     font-size: 12px;
     font-weight: 500;
 }

 /*google-review end*/
 /*clinic start*/
 .clinic .custom-icon img {
     width: 56px;
     height: 56px;
     padding-right: 20px;
 }

 .clinic .custom-icon {
     border: 1px solid #D0D0D0;
     border-radius: 10px;
     display: flex;
     padding: 10px 40px;
 }

 .clinic .custom-icon p {
     font-size: 16px;
     font-weight: 600;
 }

 .custom-icon h6 {
     font-weight: 600;
 }

 /*clinic end*/
 /*coupon start*/
 .coupon {
     background-color: #FFF9F4;
     width: 540px;
     height: 360px;
     border: 1px solid #FFE0C4;
     border-radius: 10px;
     padding: 20px;
 }

 .coupon .form-control {
     display: block;
     width: 393px;
 }

 .coupon .input-group {
     width: 393px;
 }

 .coupon .card {
     width: 760px;
     height: 345px;
 }

 .voucher .card img {
     border-radius: 20px 0 0 20px;
     width: 399px;
     height: 345px;
     object-fit: cover;
 }

 .voucher .card {
     height: 345px;
     width: 700px;

 }

 /*coupon end*/
 /*footer start*/
 .footer {
     background-color: #462512;
     padding: 15px 0;
 }

 .footer ul li {
     color: white;
     padding-bottom: 10px;
 }

 .footer ul {
     border-bottom: 2px solid white;
 }

 footer p {
     color: white;
     font-size: 16px;
     padding-top: 5px;
 }

 /*footer end*/
 @media (max-width: 767px) {
     .form-control {
         display: block;
         width: 100%;
     }

     .input-group {
         width: 100%;
     }

     .form-check-label {
         font-size: 14px;
         width: 100%;
     }

     .card img {
         border-radius: 20px 20px 0 0;
         width: 365px;
         height: 342px;
         object-fit: cover;
     }

     .appointment .form-control,
     .input-group {
         width: 100%;
     }

     .coupon h2 {
         font-size: 20px;
     }

     .coupon p {
         font-size: 16px;
         text-align: center;
         width: 70%;
     }

     .coupon .form-control {
         display: block;
         width: 326px;
     }

     .coupon .form-check-label {
         font-size: 14px;
         width: 80%;
     }

     .coupon .btn-primary {
         display: block;
         width: 326px;
     }

     .voucher .card img {
         border-radius: 20px 20px 0 0;
         width: 358px;
         height: 326px;
         object-fit: cover;
     }

     .voucher .card {
         height: 700px;
         width: 358px;
     }

     .footer img {
         width: 110px;
         height: 44px;
     }

     .mobile-scroll-wrapper {
         overflow-x: auto;
         /* horizontal scroll */
         -webkit-overflow-scrolling: touch;
         /* smooth scroll on iOS */
     }

     .mobile-scroll-wrapper .d-flex {
         flex-wrap: nowrap;
         /* keep items in a single row */
     }

     .mobile-scroll-wrapper {
         overflow-x: visible;
         /* desktop normal layout */
     }
 }